.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_form input {
  width: 300px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  margin-bottom: 30px;
  outline: none;
}

.input_form button {
  height: 40px;
  width: 80px;
  border-radius: 0 10px 10px 0;
  background-color: black;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}

.input_form button:hover {
  background-color: rgb(58, 58, 58);
}

.task p {
  display: flex;
  justify-content: center;
  width: 350px;
  padding: 1.2rem;
  color: #ffffff;
  background-color: black;
}